.ask-us {
  background-color: #00B2FF;
  padding-top: 90px;
  padding-bottom: 113px;
  background-image: url("../img/triangles.png");
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

.ask-us__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}

.ask-us__plane-img {
  margin-top: 71px;
  margin-left: -10px;
  position: absolute;
  top: 0;
  left: 0;
}

.ask-us__form-wrapper {
  width: 570px;
  margin-top: 2px;
  z-index: 1;
}

.ask-us__title {
  @include noindent;
  font-family: $robotoC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
  margin-left: -4px;
}

.ask-us__text {
  color: #FFFFFF;
  margin-top: 9px;
  margin-bottom: 51px;
}

.ask-us__name::-webkit-input-placeholder,
.ask-us__phone::-webkit-input-placeholder,
.ask-us__message::-webkit-input-placeholder {
  color: #FFFFFFFF;
}

.ask-us__name::-moz-placeholder,
.ask-us__phone::-moz-placeholder,
.ask-us__message::-moz-placeholder {
  color: #FFFFFFFF;
}

.ask-us__name,
.ask-us__phone,
.ask-us__message {
  padding: 14px 17px;
  background-color: #20bbff;
  border: none;
  color: #FFFFFF;
  font-family: $PTMono;
}

.ask-us__name {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 16px;
}

.ask-us__phone {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  font-size: 14px;
  padding-top: 10px;
  letter-spacing: 1.5px;
  padding-left: 18px;
}

.ask-us__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ask-us__message {
  resize: none;
  width: 570px;
  box-sizing: border-box;
  margin-bottom: 37px;
  font-size: 14px;
  padding-top: 13px;
  letter-spacing: 1.4px;
  height: 154px;
}

.ask-us__buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ask-us__button:hover {
  background-color: #00a0e6;
}

.ask-us__agreement-text {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.8;
  width: 230px;
  padding-top: 8px;
}

.ask-us__agreement-text:hover {
  opacity: 0.5;
}

.ask-us__agreement-text::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 9px;
  left: -32px;
  border: 1px solid #FFFFFF;
}

.ask-us__agreement-input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 6px;
  top: 14px;
  left: -28px;
  background-image: url("../img/checked.svg");
}

.ask-us__button {
  width: 270px;
  padding-top: 13px;
}

@media (max-width: $tablet-width) {
  .ask-us {
    padding-top: 78px;
    background-image: none;
    padding-bottom: 103px;
  }

  .ask-us__wrapper {
    justify-content: center;
  }

  .ask-us__form-wrapper {
    margin-left: -15px;
  }

  .ask-us__plane-img {
    display: none;
  }

  .ask-us__title {
    font-size: 32px;
    line-height: 140.62%;
  }

  .ask-us__text {
    margin-top: 17px;
    margin-bottom: 54px;
    margin-left: 1px;
  }

  .ask-us__form {
    width: 591px;
  }

  .ask-us__contacts {
    margin-bottom: 43px;
  }

  .ask-us__name,
  .ask-us__phone {
    width: 280px;
    padding-left: 19px;
    padding-top: 8px;
  }

  .ask-us__message {
    margin-bottom: 37px;
    height: 160px;
    width: 100%;
  }

  .ask-us__button {
    width: 280px;
    padding-top: 14px;
    padding-left: 25px;
    padding-bottom: 15px;
  }

  .ask-us__agreement-text {
    padding-top: 9px;
    margin-right: 8px;
  }

  .ask-us__agreement-text::before {
    top: 10px;
    left: -34px;
  }

  .ask-us__agreement-input:checked+label::after {
    top: 15px;
    left: -29px;
  }
}

@media (max-width: $mobile-width) {
  .ask-us {
    padding-top: 28px;
    padding-bottom: 41px;
  }

  .ask-us__wrapper {
    width: 290px;
  }

  .ask-us__title {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
  }

  .ask-us__text {
    margin-top: 13px;
    margin-bottom: 26px;
  }

  .ask-us__contacts {
    flex-direction: column;
    margin-bottom: 31px;
  }

  .ask-us__name {
    margin-bottom: 32px;
    width: 100%;
    padding-left: 17px;
  }

  .ask-us__phone {
    padding-top: 23px;
    padding-left: 17px;
    padding-bottom: 28px;
    width: 100%;
  }

  .ask-us__form-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .ask-us__message {
    height: 104px;
    margin-bottom: 25px;
  }

  .ask-us__form {
    width: 100%;
  }

  .ask-us__buttons {
    flex-direction: column-reverse;
  }

  .ask-us__button {
    padding-left: 27px;
    width: 100%;
    margin-bottom: 21px;
  }

  .ask-us__agreement-text {
    margin-left: 34px;
  }
}
