.container {
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: $tablet-width) {
  .container {
    max-width: 729px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 290px;
    margin: 0 auto;
  }
}
