.main-info {
  padding-top: 117px;
  background-image: url("../img/main-info-bcg.png");
  background-position: right;
  background-origin: content-box;
  background-size: cover;
}

.main-info__wrapper {
  position: relative;
  top: -5px;
}

.main-info__list {
  @include list;
  @include noindent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 76px;
}

.main-info__item {
  box-sizing: border-box;
  width: 48.8%;
  padding: 39px 43px 49px 41px;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.main-info__item--privacy {
  padding-top: 43px;
}

.main-info__item:nth-last-child(-n+2) {
  padding-bottom: 71px;
  letter-spacing: 0.2px;
}

.main-info__item-title {
  font-family: $robotoC;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF;
  margin-top: 14px;
  margin-bottom: 16px;
}

.main-info__item:hover {
  background-color: #00B2FF;
  border: 1px solid #00B2FF;
  border-left: 3px solid #00B2FF;
  color: #FFFFFF;
}

.main-info__list-icon {
  fill: #00B2FF;
}

.main-info__item:hover .main-info__list-icon {
  fill: #FFFFFF;
}

.main-info__item:hover .main-info__item-title {
  color: #FFFFFF;
}

.main-info__item--deadlines,
.main-info__item--suppliers,
.main-info__item--privacy,
.main-info__item--price {
  position: relative;
}

.main-info__date-img {
  margin-left: -30px;
  margin-top: 4px;
  margin-right: 25px;
}

.main-info__title {
  @include noindent;
  font-family: $robotoC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-bottom: 20px;
}

.main-info__text {
  max-width: 986px;
  margin-bottom: 21px;
}

.main-info__text-two {
  margin-bottom: 49px;
}

.main-info__about-company {
  margin-bottom: 85px;
  display: flex;
}

.main-info__text-two--tablet {
  display: none;
}

.main-info__button {
  border: 1px solid #00B2FF;
  border-radius: 5px;
  padding-top: 13px;
  padding-left: 49px;
  padding-right: 50px;
  font-family: "Roboto Condensed",arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #00B2FF;
}

.main-info__button:hover {
  background-color: #9ae0ff;
}

@media (max-width: $tablet-width) {
  .main-info {
    padding-top: 64px;
  }

  .main-info__list {
    max-width: 720px;
    margin-left: 4px;
    margin-bottom: 19px;
  }

  .main-info__item {
    width: 345px;
    padding: 24px 26px 20px 24px;
  }

  .main-info__item--suppliers {
    padding-top: 21px;
  }

  .main-info__item--privacy {
    padding-right: 15px;
  }

  .main-info__item:nth-last-child(-n+2) {
    padding-bottom: 33px;
  }

  .main-info__list-icon--suppliers {
    margin-bottom: 2px;
    width: 32px;
  }

  .main-info__list-icon--privacy {
    width: 30px;
  }

  .main-info__list-icon--price {
    width: 33px;
    margin-top: -2px;
    margin-bottom: 2px;
  }

  .main-info__item-title {
    margin-top: 1px;
    margin-bottom: 9px;
  }

  .main-info__item-title--privacy {
    letter-spacing: 0px;
    margin-bottom: 16px;
    margin-top: 2px;
  }

  .main-info__item-title--price {
    letter-spacing: 0px;
  }

  .main-info__item-text {
    margin: 0;
  }

  .main-info__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-top: 7px;
    margin-bottom: 26px;
    margin-left: -3px;
  }

  .main-info__date-img {
    margin-right: 54px;
    margin-left: 7px;
  }

  .main-info__text-two {
    display: none;
  }

  .main-info__text-two--tablet {
    display: block;
    margin-bottom: 51px;
  }

  .main-info__about-company {
    margin-bottom: 65px;
  }
}

@media (max-width: $mobile-width) {
  .main-info {
    padding-top: 42px;
  }

  .main-info__list {
    margin-left: -1px;
    margin-bottom: 29px;
  }

  .main-info__item {
    padding-bottom: 23px;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .main-info__item--suppliers {
    padding-top: 21px;
  }

  .main-info__list .main-info__item--privacy {
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 53px;
  }

  .main-info__item .main-info__item-title--privacy {
    margin-top: 3px;
    margin-bottom: 0;
  }

  .main-info__item:first-child {
    padding-right: 16px;
  }

  .main-info__list .main-info__item--price {
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 26px;
  }

  .main-info__item-title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 28px;
    margin-top: 6px;
  }

  .main-info__item--price .main-info__item-title {
    margin-top: 2px;
  }

  .main-info__item--price {
    padding-right: 10px;
    margin-right: 0;
  }

  .main-info__item-text--privacy {
    margin-top: -8px;
    letter-spacing: 0px;
  }

  .main-info__item--price {
    width: 100%
  }

  .main-info__company-info {
    margin-left: 2px;
  }

  .main-info__date-img {
    display: none;
  }

  .main-info__title {
    font-size: 28px;
    margin-bottom: 21px;
  }

  .main-info__item-title--price {
    margin-bottom: 11px;
  }

  .main-info__text {
    margin-bottom: 39px;
  }

  .main-info__text-two--tablet {
    margin-bottom: 40px;
  }

  .main-info__about-company {
    margin-bottom: 72px;
  }
}
