.page-footer {
  background-color: #FAFAFA;
  padding-top: 62px;
  color: #8B9399;
}

.page-footer a:hover {
  opacity: 0.5;
}

.page-footer__wrapper {
  max-width: 1474px;
  margin-bottom: 57px;
  padding: 0;
}

.page-footer__main-section {
  display: flex;
  justify-content: space-between;
  max-width: 1423px;
  padding: 0 15px;
}

.page-footer__links {
  width: 240px;
  margin-left: 14px;
}

.page-footer__info {
  display: flex;
  justify-content: space-between;
  font-family: $robotoC;
  width: 100%;
  max-width: 986px;
}

.page-footer__social-list {
  @include list;
  display: flex;
  justify-content: space-between;
  width: 112px;
}

.page-footer__social-link {
  display: block;
  position: relative;
  width: 27px;
  height: 27px;
}

.page-footer__years {
  display: none;
}

.page-footer__social-link--fb::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.page-footer__social-link--ok::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  background-image: url("../img/ok.svg");
  background-repeat: no-repeat;
}

.page-footer__social-link--vk::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.page-footer__nav-list {
  @include list;
  font-family: $PTMono;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 520px;
  margin-left: -2px;
}

.page-footer__nav-link {
  @include link
  color: #8B9399;
  font-size: 15px;
  line-height: 25px;
}

.page-footer__nav-item {
  width: 245px;
}

.page-footer__nav-item:nth-last-child(even) {
  position: relative;
  left: 64px;
}

.page-footer__title {
  margin-top: 0;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 22px;
  color: #1B2D37;
}

.page-footer__contacts {
  min-width: 230px;
  max-width: 350px;
}

.page-footer__title--contacts {
  margin-left: 2px;
  margin-bottom: 23px;
}

.page-footer__contacts-list {
  @include list;
  font-family: $PTMono;
}

.page-footer__adress,
.page-footer__contact-link {
  letter-spacing: -0.7px;
}

.page-footer__adress {
  @include noindent;
  color: #8B9399;
}

.page-footer__contact-link {
  @include link;
  color: #8B9399;
}

.page-footer__contacts-item {
  margin-bottom: 3px;
}

.page-footer__bottom-section {
  border-top: 1px solid #DCDDDC;
  padding: 0 15px;
}

.page-footer__bottom-section-wrapper {
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.page-footer__bottom-left {
  display: flex;
  justify-content: space-between;
  max-width: 723px;
  width: 60%;
}

.page-footer__rights {
  margin-left: -3px;
}

.page-footer__years-bottom-section {
  margin-left: -68px;
}

.page-footer__privacy-terms {
  @include link;
  color: #8B9399;
  margin-right: -90px;
}

.page-footer__developed-by {
  margin-left: 180px;
  margin-right: 1px;
  cursor: pointer;;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 16px;
  }

  .page-footer__wrapper {
    margin-bottom: 36px;
  }

  .page-footer__main-section {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__links-wrapper {
    width: 100%;
    border-bottom: 1px solid #DCDDDC;
  }

  .page-footer__links {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 729px;
    margin: 0 auto;
  }

  .page-footer__years {
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 14px;
  }

  .page-footer__social-list {
    margin-top: 15px;
    margin-right: 4px;
  }

  .page-footer__navigation {
    margin-left: 7px;
    width: 373px;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__years-bottom-section {
    display: none;
  }

  .page-footer__info {
    max-width: 729px;
    margin: 0 auto;
    padding-top: 35px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .page-footer__nav-list {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .page-footer__nav-item:nth-child(2n) {
      order: 2;
  }

  .page-footer__nav-item:nth-child(even) {
    left: auto;
  }

  .page-footer__bottom-section-wrapper {
    max-width: 729px;
    padding: 22px 11px;
  }

  .page-footer__developed-by {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    width: 100%;
    margin-bottom: 0;
  }

  .page-footer__links {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .page-footer__years {
    margin-right: 10px;
    margin-bottom: 17px;
  }

  .page-footer__social-list {
    margin-left: 3px;
    margin-bottom: 53px;
  }

  .page-footer__info {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .page-footer__contacts {
    position: relative;
    padding-right: 10px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
  }

  .page-footer__contacts-list {
    margin-bottom: 0;
  }

  .page-footer__navigation {
    position: relative;
    width: 290px;
    min-height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DCDDDC;
    margin-bottom: 0;
  }

  .page-footer__nav-list {
    margin-bottom: 53px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .page-footer__title {
    margin-bottom: 0;
    padding-top: 26px;
    padding-bottom: 25px;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
  }

  .page-footer__contacts-list {
    margin-bottom: 41px;
    margin-top: -6px;
    padding-left: 15px;
    padding-right: 25px;
  }

  .page-footer__title--contacts {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .page-footer__adress {
    line-height: 24px;
  }

  .page-footer__bottom-section {
    padding-top: 29px;
    margin-top: -14px;
  }

  .page-footer__bottom-section-wrapper {
    max-width: 290px;
    flex-direction: column;
    padding: 0;
    align-items: center;
    padding-bottom: 28px;
  }

  .page-footer__bottom-left {
    width: 100%;
    justify-content: center;
  }

  .page-footer__privacy-terms {
    margin-right: 0;
    margin-bottom: 23px;
  }

  .page-footer__title::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    top: 36px;
    right: 17px;
    background-color: #C4C4C4;
  }

  .page-footer__list-closed::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    top: 36px;
    right: 17px;
    background-color: #C4C4C4;
    transform: rotate(90deg);
  }

  .page-footer__list-closed + .page-footer__nav-list,
  .page-footer__list-closed + .page-footer__contacts-list {
    display: none;
  }

  .page-footer__list-opened + .page-footer__nav-list,
  .page-footer__list-opened + .page-footer__contacts-list {
    display: block;
  }
}
